body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f06; /* Set your preferred attractive background color */
    color: #333; /* Set text color to a dark shade for better visibility */
}

h1 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 20px;
}

.game-container {
    display: grid;
    grid-template-columns: repeat(var(--puzzle-size), 1fr);
    gap: 20px; /* Increased gap for better visual separation */
    max-width: 500px; /* Increase the game board size by adjusting max-width */
    padding: 20px;
    border-radius: 10px;
    background-color: #fff; /* Set game board background color */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.puzzle-piece {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3498db; /* Set puzzle piece background color */
    color: #fff; /* Set text color to white for better visibility */
    border: 1px solid #2980b9;
    cursor: pointer;
    font-size: 28px; /* Increase font size for better visibility of numbers */
    font-weight: bold;
    transition: transform 0.2s ease-in-out;
    border-radius: 5px;
    width: 77px; /* Adjust the width to make it square */
    height: 77px;
}

.empty-piece {
    background-color: #bdc3c7; /* Set empty piece color */
}

/* Add these styles for game info */
#game-info {
    text-align: center;
    margin-top: 20px;
}

#reset-button {
    padding: 15px;
    font-size: 16px;
    margin-right: 10px;
    cursor: pointer;
}

#timer,
#move-counter {
    font-size: 18px;
    margin: 5px 0;
}

/* Adjust styling as needed */
